<style>
	body, html {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	article {
		padding: 10px 50px;
	}
	 h1 {
		font-size: 24px;
		line-height: 24px;
		margin: 0;
		margin-top: 0;
	}
	h2 { 
		font-size: 14px;
		margin: 0;
		color: #999;
	}
	 p {
		font-size: 20px !important;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	body {
		-webkit-transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		-o-perspective: 1000px;
		-ms-perspective: 1000px;
		perspective: 1000px;
	}
	img {
		width: 100%;
		height: 240px;
	}
	#loading {
		position: absolute;
		top: 0;
		text-align: center;
		padding-top: 60%;
		color: #fff;
		width: 100%;
		background-color: rgb(242, 117, 43);
		height: 100%;
	}
	#loading h1 {
		opacity: 0;
	}
	.intro .headerlogo { 
		font-size: 90px;
		border: 10px solid white;
		width: 170px;
		margin: 19% auto;
		text-align: center;
	}
	.intro {
		text-align: center;
		color: #fff;
		background-color: rgb(242, 117, 43) !important;
	}
	.intro h1 {
		/*opacity: 0;*/
		margin-top: 20px;
	}
	.intro .glyphicon {
		font-size: 47px;
	}

	/*#proxy {
		background-color: red;
		position: absolute;
		height: 10px;
		width: 100%;
	}*/
	.overlay {
		position: absolute;
		width: 100%;
		height: 10000px;
		z-index: 100;
		top: 0;
		left: 0;
	}
	.pane {
		height: 100%;
	}
	.top, .bottom {
		position: absolute;
		width: 100%;
		height: 50%;
		overflow: hidden;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		overflow: scroll;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-transform: scale(1);
	}

	.top {
		-webkit-transform-origin: 100% 100%;
		top: 0;
	}

	.bottom {
		-webkit-transform-origin: 0 0;
		bottom: 0;
	}

	.page {
		background-color: #fff;
	}
	.story {
		padding: 0 20px;
		position: relative;
	}

	.page .story:not(:first-child) { 
		/*border-top: 1px solid #999;*/
		padding-top: 20px;
		/*margin-top:15px;*/
	}
	#top1, #bottom1 { 
		background-color: #2ecc71;
		color: white;
	}
	#top1 h2, #bottom1 h2 {
		color: white;
	}
	#top2, #bottom2 { 
		background-color: #e74c3c;
		color: white;
	}
	#top2 h2, #bottom2 h2 {
		color: white;
	}
	#top3, #bottom3 { 
		background-color: #3498db;
		color: white;
	}
	#top3 h2, #bottom3 h2 {
		color: white;
	}
	#currentStory {
		position: absolute;
		width:100%;
		height:100%;
		z-index:1000;
	}
	#content {
		margin-top: 40px;
		height: 100%;
		background-color: #fffff;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	#back {
		position: absolute;
		top: 0;
		font-size: 30px;
		padding-left: 20px;
		color: white;
		background-color: #000000;
		width: 100%;
	}
	.loader {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255, 0.25);
	}
	
</style>
<!-- 
<div id="page1" class="page">
		<img src="http://lorempixel.com/460/240/" />
		<div class="container">
			<h1>Vegan Pinterest small batch try-hard</h1>
			<p>Literally Austin mlkshk Carles next level, blog church-key Tumblr Bushwick DIY chambray chillwave organic photo booth</p>
		</div>
</div>
<div id="page2" class="page">

	<img src="http://lorempixel.com/460/240/?x" />
	<div class="container">
		<div class="container">	
			<h1>Typewriter pickled Shoreditch</h1>
			<p>, Banksy Blue Bottle kogi synth cornhole literally occupy Pitchfork ethical retro bicycle rights plaid. Kitsch Vice hella tofu put a bird on it.</p>
		</div>
	</div>
</div>
</div> -->
<div id="loading" style="background: ">
		<i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<div id="flipapp">
	<div id="currentStory">
		<div id="back">
			<i class="fa fa-chevron-circle-left"></i> Back
		</div>
		<div id="content"></div>
	</div>
</div>
<div id="proxy"></div>

<!-- <div class="story-list" ng-repeat="story in stories">
	<div id="page{{$index}}" class="page">
		<img src="http://lorempixel.com/460/240/?{{$index}}" />
		<div class="container">
			<h1>{{story.title}}</h1>
		</div>
	</div>
</div> -->